{% extends "base.html" %}
{% set active_page = "homepage" %}

{% block subtitle %}
   Accueil 
{% endblock %}

{% block content %}

<div class="jumbotron">
   <h2>Eh, bon d'voir sa mère ! Casse la gorge</h2>
   <p>Partagez vos devoirs et accumulez des points vous permettant de récupérer les devoirs des autres. Plus vous donnez, plus vous recevez !</p>
</div>

{% if member %}
   <h3>Vous avez {{ member.points }} points !</h3><br>
   {% if member.points <= 0 %}
      <p>Pas assez de point pour télécharger des devoirs non publics !</p>
   {% endif %}

   <table class="table table-striped">
      <thead>
         <tr>
            <th>Le</th>
            <th>Matière</th>
            <th>Description</th>
            <th>Par</th>
            <th>Lien</th>
         </tr>
      </thead>
      <tbody>
      {% for homework in homework %}
         <tr>
            {% if homework.is_public %}
               <td>{{ homework.end_date }} <b>Public !</b></td>
            {% else %}
               <td>{{ homework.end_date }}</td>
            {% endif %}
            <td>{{ homework.subject}}</td>
            <td>{{ homework.description}}</td>
            <td>{{ homework.author.first_name }} {{ homework.author.last_name }}</td>
            {% if member.points > 0 or homework.is_public %}
               <td><a href="uploads/{{ homework.filename }}">Lien</a></td>
            {% else %}
               <td></td>
            {% endif %}
         </tr>
      {% endfor %}
      </tbody>
   </table>

{% else %}
   <div class="page-header">
      <h1>Comment ça marche ?</h1>
   </div>
   <div class="homepage-presentation">
      <p>Chaque devoir que vous envoyez vous rapporte <b>1 point</b>. Seul les personnes de votre classe avec des points peuvent télécharger ce devoir. Si vous décidez de le rendre public, alors n'importe qui de la classe peut le voir et cette opération vous rapporte <b>2 points</b>.</p>

      <p>A chaque fois que vous téléchargez un devoir, cela vous coûte 1 point.</p>
   </div>
   <div class="page-header">
      <h1>Par où commencer ?</h1>
   </div>
   <div class="homepage-presentation">
      <p>Dans un premier temps, inscrivez-vous sur le site (ou connectez vous si vous avez déjà un compte), et vous accéderez au tableau principal contenant tous les devoirs de votre classe. Votre nombre de points est aussi affiché, et vous pouvez cliquer sur les liens afin de commencer à télécharger des devoirs :</p>
      <img src="/static/img/tableau_devoir_exemple.png" class="img-responsive center-block" alt="Exemple de tableau contenant les devoirs" height="233" width="1000" />
      <p class="caption">Exemple de tableau contenant les devoirs</p>
   </div>
{% endif %}

{% endblock content %}
