{% extends "base.html" %}
{% set active_page = "new_homework" %}

{% block subtitle %}
   Nouveau devoir
{% endblock %}

{% block content %}

<div>
   <h2 class="text-center">Nouveau devoir</h2>
</div>

<form class="form-horizontal" method="POST" action="{{ url_for("new_homework") }}" enctype="multipart/form-data">

   <div class="form-group">
      <label for="subject">Matière</label>
      <select class="form-control" id="subject" name="subject">
         <option>Français</option>
         <option>Histoire</option>

         {% if member.section == "S" %}
            <option>Maths S</option>
            <option>Physique S</option>
            <option>SVT S</option>
         {% elif member.section == "ES" %}
            <option>Maths ES</option>
            <option>SVT ES</option>
            <option>Physique ES</option>
            <option>Economie</option>
         {% endif %}

         <option>Anglais</option>
         {% if member.second_lang == "Espagnol" %}
            <option>Espagnol</option>
         {% else %}
            <option>Allemand</option>
         {% endif %}

      </select>
   </div>

   <div class="form-group">
      <label for="description">Nom du devoir</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Exercice 42 page 69">
   </div>

   <div class="form-group">
      <label for="end_date">Pour quand ?</label>
      <input type="date" class="form-control" id="end_date" name="end_date" placeholder="JJ/MM/AAAA">
   </div>

   <div class="form-group">
      <label for="file">Fichier</label>
      <input type="file" id="file" name="file[]" multiple>
      <p class="help-block">Sélectionnez le devoir à envoyer.</p>
   </div>

   <div class="form-group">
      <label for="is_public">
         <input type="checkbox" id="is_public" name="is_public">
         Rendre le devoir accessible à tous ?
      </label>
   </div>

   <div class="form-group">
      <button type="submit" class="btn btn-pornote" value="Upload">Envoyer !</button>
   </div>

</form>

{% endblock content %}
