body {
   padding-top: 70px;
   padding-bottom: 30px;
}

.project-vitals {
   font-size: 2em;
}

.search-card {
   padding:15px;
   border:1px solid #000; 
   height:415px;
   margin-bottom:40px;
}

.search-description {
   height:350px;
}

.search-thumbnail {
   height:200px;
}

.btn-punchstarter {
   background-color:#215fa5;
   color: #FFF;
   font-weight: bold;
}

.btn-punchstarter:hover {
   background-color:#2177a5;
   color:#FFF;
}

/* Bootstrap Overrides */
.navbar-default .navbar-brand { 
   color:#215fa5;
   font-weight: bold;
}
a {color:#215fa5;}
a:hover {color:#2177a5; text-decoration: none;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {color:#2177a5;}

